.navbar {
    display: flex;
    align-items: center;

    .navbar_link {
        color: rgba(255, 255, 255, 0.70);
        font-size: 18.946px;
        transition: color .2s linear;
        font-weight: 400;
        cursor: pointer;

        &:hover {
            color: #5454D4;
        }

        &:nth-child(1n+1) {
            margin-right: 25px;
        }
    }
}